---
layout: default
title: Experience
---
<div class="body-text">
  <ul class="experience">
    {% for post in site.posts %}

    <li>
      <div class="entry-content">
        <h5 style="text-align: center;">{{ post.date | date: '%B %d, %Y' }}</h5>
        {% if post.layout=='link_entry' %}
        <a href="{{ post.link }}" target="_blank">
          <h3> {{ post.title }} </h3>
          {% if page.image %}
          <img src="{{ page.image }}" alt="{{ page.title }}" />
          {% endif %}
        </a>
        {{ post.content }}
        {% elsif post.layout=='image_entry' %}
        <img src="{{ post.image }}"  alt="{{ page.title }}" />
        <h3>{{ post.title }}</h3>
        {{ post.content }}
        {% elsif post.layout=='text_entry' %}
        <h3>{{ post.title }}</h3>
        {{ post.content }}
        {% elsif post.layout=='video_entry' %}
        <h3>{{ post.title }}</h3>
        <div class="video-wrapper">
          <iframe width="600" height="340" src="{{ post.video }}" frameborder="0" gesture="media" allow="encrypted-media"
            allowfullscreen></iframe>
        </div>
        {{ post.content }}
        {% else %}
        {{ post.content }}
        {% endif %}
      </div>
      {% unless forloop.last %}
      <hr class="entry-divider">
      {% endunless %}
    </li>

    {% endfor %}
  </ul>
</div>