.page {

  margin-right: auto;

  margin-left: auto;

  width: 850px;

}

h1 {

  font-family: 'Oswald',sans-serif;

  font-weight: 300;

  font-size: 70px;

  color: #7a7a7a;

  text-decoration: none;

  letter-spacing: 0px;

  line-height: 1.25em;

  text-transform: uppercase;

  text-align: center;

  height: 80px;

}

h2 {

  font-family: 'Oswald',sans-serif;

  font-weight: 300;

  font-size: 50px;

  color: #428896;

  text-decoration: none;

  letter-spacing: 0px;

  line-height: 1.5em;

  height: 50px;

}

h3 {

  font-family: 'Raleway';

  font-weight: 200;

  font-size: 40px;

  color: #7a7a7a;

  text-decoration: none;

  letter-spacing: 1px;

  line-height: 1em;

  text-transform: none;

}
h3 a {

  font-family: 'Raleway';

  font-weight: 200;

  font-size: 40px;

  color: #7a7a7a;

  text-decoration: none;

  letter-spacing: 1px;

  line-height: 1em;

  text-transform: none;

}

h3 a:hover {

  font-family: 'Raleway';

  font-weight: 200;

  font-size: 50px;

  color: #428896;

  text-decoration: none;

  letter-spacing: 1px;

  line-height: 1em;

  text-transform: none;

}
h4 {

  font-family: 'Oswald';

  font-size: 24px;

  color: #333333;

  text-decoration: none;

  letter-spacing: 1px;

  line-height: 1em;

  text-transform: uppercase;

}

p {

  font-family: 'Actor';

  font-size: 16px;

  color: #797979;

  line-height: 1.5em;

  text-transform: none;

}

.nav-bar {

  margin: 30px auto;

  background-color: #ebebeb;

}


nav {

  margin: 30pt auto;

  font-size: 18px;

  text-decoration: none;

  letter-spacing: 1px;

  line-height: 1.5em;

  font-family: 'Oswald',sans-serif;

  font-weight: 400;

  color: #666666;

  text-align: center;

  text-transform: uppercase;

}

nav ul li {

  margin: 0 50px 0 0;

  display: inline;

  list-style-type: none;

}

nav ul li a {

  color: #666666;

  text-decoration: none;

}

nav ul li.selected a {

  color: #428896;

  text-decoration: none;

}

nav ul a:hover, nav ul li a:hover {

  color: #428896;

}

footer {

  margin: 30pt auto;

  background-color: black;

  padding-top: 10pt;

  padding-bottom: 10pt;

  padding-left: 10pt;

  padding-right: 10pt;

  text-align: center;

}

footer .footer-text {

  padding: 40px 60px;

  font-family: 'Lato';

  font-size: 16px;

  color: #9a9a9a;

  line-height: 1.5em;

  text-transform: lowercase;

}

footer .footer-text a {

  color: #ffffff;

  text-decoration: none;

  text-transform: lowercase;

}

footer .footer-text a:hover {

  color: #ffffff;

  text-decoration: underline;

  text-transform: lowercase;

}

footer .footer-copyright {
  color: #585858;

  font-size: 12px;

  text-decoration: none;

  text-align: right;

}

.body-text {

  padding-right: 10pt;

  padding-left: 10pt;

}

ul.entries {
  list-style-type: none;
  width: 640px;
  margin: auto;
}

ul.entries li {
  position: relative;
  margin: 20px auto;
  padding: 20px;
  background: #ececec;
}
 
ul.entries img {
  max-width: 600px;
}
 
ul.entries li h4 {
  position: absolute;
  top: -18px;
  left: 20px;
  font-size: 2em;
  color: #ffffff;
}
ul.entries a {
  color: #428896;
}
ul.entries a:hover {
  color: #585858;
}

ul.entries ul li {
  background: #ffffff;
}

.entry-content {
  background: #ffffff;
  font-family: 'Actor';
  font-size: 16px;
  color: #797979;
  line-height: 1em;
  text-transform: none;
  margin: auto;
  display: block;
}
.entry-content img {
  margin: auto;
  display: block;
  width: 600px;
}
.entry-content ul {
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
} 
.entry-content ul li {
  margin: 10px auto;
  padding: 0px;
}
.entry-content p {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px auto;
}
.entry-content h3 {
  margin: 0px auto;
  padding-bottom: 30px;
}
.entry-content p img {
  width: auto
}

blockquote.link_og_blockquote {
  font-family: 'Oswald';
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000;
  color: white;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 5px;
  text-indent: 23px;
}
