<h2>About Me</h2>
<img src="images/IMG_2428-002_2.jpg" />

<p>Allison Thackston is the Engineering Lead and Manager of the Shared Autonony Robotics team at Toyota Research
    Institute. Her team focuses on developing advanced robotic teleoperation technologies that enable robots and
    people to seamlessly and safely work together.</p>
<p>Allison previously held the position of Lead Manipulation Researcher/Project Manager at Toyota Partner Robotic
    Group where she investigated robust task and motion planning manipulation strategies in unstructured
    environments. Before joining Toyota, she was the Lead Engineer for Robotic Perception on Robonaut 2, the first
    humanoid robot on the International Space Station. There, she was responsible for software development and
    applied vision research to facilitate the cooperation between robots and people. </p>
<p>Allison has a degrees in Electrical and Mechanical Engineering. Her thesis focused on collision
    avoidance during supervised robotic manipulation. </p>