<header>
  <h1>Allison Lyon Thackston</h1>	
</header>

<div class="nav-bar">
  <nav role="navigation">
    <ul>
      <li {% if page.title == 'About' %} class="selected" {% endif %}><a href="/index.html" title="About">About</a></li>
      <li {% if page.title == 'Experience' %} class="selected" {% endif %}><a href="/experience.html" title="Experience">Experience</a></li>
      <li {% if page.title == 'Contact' %} class="selected" {% endif %}><a href="/contact.html" title="Contact">Contact</a></li>
    </ul>
  </nav>
</div>
