<ul class="list-inline">
    <li>
        <h4>Robotics</h4>
        <i class="fa fa-android fa-lg"></i>
        <p>10+ years experience</p>
        <p>Broad knowledge across all robotics domains including perception, manipulation, and control</p>
    </li>
    <li>
        <h4>Vision</h4>
        <i class="fa fa-eye fa-lg"></i>
        <p>Experience applying research to next generation products</p>
        <p>Understand "big picture" of how components fit together</p>
        <p>Prioritize projects with understanding of milestones, budgets, and personnel</p>

    </li>
    <li>
        <h4>Leadership</h4>
        <i class="fa fa-users fa-lg"></i>
        <p>History of motivating teams to deliver on time</p>
        <p>Excellent communication skills</p>
        <p>Ability to coordinate across functional areas</p>
    </li>
</ul>