.page {
  margin: auto;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: xxx-large;
  color: #7a7a7a;
  text-decoration: none;
  letter-spacing: 0px;
  line-height: 1.25em;
  text-transform: uppercase;
  height: auto;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: xx-large;
  color: #8a8a8a;
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: 0px;
  line-height: 1.0em;
  height: auto;
}

h3 {
  font-family: 'Raleway';
  font-weight: 300;
  font-size: x-large;
  color: #7a7a7a;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 1em;
  text-transform: none;
}

h4 {
  font-family: 'Oswald';
  font-size: large;
  color: #333333;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 1em;
  text-transform: uppercase;
}

p {
  font-family: 'Actor';
  font-size: medium;
  color: #797979;
  line-height: 1.5em;
  text-transform: none;
  max-width: 1000px;
  margin: auto;
  padding-bottom: 10px;
}

a {
  color: #38761d;
  text-decoration: none;
}

a:hover {
  color: #797979;
  text-decoration: underline;
}

ol {
  font-family: 'Actor';
  font-size: 16px;
  color: #797979;
  line-height: 1.5em;
  text-transform: none;
  margin: auto;
  padding-bottom: 20px;
}

.btn {
  margin: 0px;
  padding: 5px;
  width: 50%;
  vertical-align: top;
  line-height: normal;
  min-width: 100px;
  text-align: center;
  height: 50px;
  color: #38761d;
}

/* Header */

.intro-header {
  background-color: #333333;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.intro-header h1 {
  color: #ffffff;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.list-inline>li {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

.fa-lg {
  font-size: 3vh;
  line-height: 3vh;
  vertical-align: -15%;
}

@media(max-width:767px) {
  .intro-message {
    padding-bottom: 15%;
  }
  .intro-message>h1 {
    font-size: 3em;
  }
  ul.intro-social-buttons>li {
    margin-bottom: 20px;
    padding: 0;
  }
  ul.intro-social-buttons>li:last-child {
    margin-bottom: 0;
  }
  .intro-divider {
    width: 100%;
  }
}

/* Nav-bar */

.nav-bar {
  background-color: #ebebeb;
}

nav {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.5em;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: #666666;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-flow: row;
  max-width: 700px;
  margin: auto;
}
nav div {
  margin: auto;
}

nav div a {
  color: #666666;
  text-decoration: none;
}

nav div.selected a {
  color: #38761d;
  text-decoration: none;
}

/* Footer */

footer {
  background-color: black;
  padding-top: 10pt;
  padding-bottom: 10pt;
  padding-left: 10pt;
  padding-right: 10pt;
  text-align: center;
}

footer .footer-text {
  font-family: 'Lato';
  font-size: small;
  color: #9a9a9a;
  line-height: 1.5em;
  text-transform: lowercase;
}

footer .footer-text a {
  color: #ffffff;
  text-decoration: none;
  text-transform: lowercase;
}

footer .footer-text a:hover {
  color: #ffffff;
  text-decoration: underline;
  text-transform: lowercase;
}

footer .footer-copyright {
  color: #585858;
  font-size: small;
  text-decoration: none;
  text-align: right;
}

.body-text {
  padding-right: 5vw;
  padding-left: 5vw;
  margin: 0px;
}

.experience {
  padding: 0;
}

.experience>li {
  list-style: none;
}

.entry-content {
  background: #ffffff;
  font-family: 'Actor';
  color: #797979;
  line-height: 1em;
  text-transform: none;
  margin: auto;
  display: block;
  max-width: 700px;
}

.entry-content img {
  margin: auto;
  display: block;
  width: -webkit-fill-available;
}

.entry-content img[src*='#left'] {
  float: left;
  padding-right: 1vw;
  max-width: 300px;
}
.entry-content img[src*='#right'] {
  float: right;
  padding-left: 1vw;
  max-width: 300px;
}
.entry-content img[src*='#center'] {
  display: block;
  margin: auto;
}

.entry-content ul {
  padding-bottom: 1vh;
  padding-left: 1vw;
}

.entry-content ul li {
  margin-left: 30px;
  padding: 5px;
}

.entry-content p {
  padding: 10px;
  margin: 0px auto;
}

.entry-content h3 {
  margin: 0px auto;
  padding-bottom: 30px;
  padding-top: 30px;
  text-decoration: none;
}

.entry-content blockquote {
  background-color: #ebebeb;
}

.entry-divider {
  width: 70%;
  border-top: 1px dashed #7d7d7d;
  border-bottom: none;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

blockquote.link_og_blockquote {
  font-family: 'Oswald';
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000;
  color: white;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 5px;
  text-indent: 23px;
}

.white-bg {
  background: #ffffff;
}

.grey-bg {
  background: #ebebeb;
}

.about {
  min-height: 350px;
  max-width: 1000px;
  margin: 0 auto;
}

.about img {
  float: right;
  width: 250px;
}

.skills {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-item {
  width: 250px;
  padding: 10px;
}

input {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.language-plaintext {
  background-color: #ffffff;
  color: #333333;
  overflow: hidden;
} 

.highlighter-rouge {
  /* padding: 7px 7px 7px 10px; */
  /* margin: 20px 0 20px 0; */
  overflow: scroll;
  font-size: small;
  line-height: 1.5em;
}

code {
  font-family:'Bitstream Vera Sans Mono','Courier', monospace;
}

div.highlighter-rouge {
  padding: 10px;
  background-color: #333333;
  color: #d0d0d0;
}

.highlight .err {
  color: #151515;
  background-color: #ac4142;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #7d7d7d;
}
.highlight .cp {
  color: #f4bf75;
}
.highlight .nt {    
  overflow: scroll;
  color: #f4bf75;
}
.highlight .o, .highlight .ow {
  color: #d0d0d0;
}
.highlight .p, .highlight .pi {
  color: #d0d0d0;
}
.highlight .gi {
  color: #90a959;
}
.highlight .gd {
  color: #ac4142;
}
.highlight .gh, .highlight .nb, .highlight .nf {
  color: #6a9fb5;
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #aa759f;
}
.highlight .kc {
  color: #d28445;
}
.highlight .kt {
  color: #d28445;
}
.highlight .kd {
  color: #d28445;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #90a959;
}
.highlight .sr {
  color: #75b5aa;
}
.highlight .si {
  color: #8f5536;
}
.highlight .se {
  color: #8f5536;
}
.highlight .nn {
  color: #f4bf75;
}
.highlight .nc {
  color: #f4bf75;
}
.highlight .no {
  color: #f4bf75;
}
.highlight .na {
  color: #6a9fb5;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #90a959;
}
.highlight .ss {
  color: #90a959;
}
