/* Nav-bar */

.nav-bar {
  background-color: #ebebeb;
}

nav {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.5em;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: #666666;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-flow: row;
  max-width: 700px;
  margin: auto;
}

nav div {
  margin: auto;
}

nav div a {
  color: #666666;
  text-decoration: none;
}

nav div.selected a {
  color: #38761d;
  text-decoration: none;
}
